

{% load static %}

<html>
<head>
	<title>Dennis Ivanov</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/profile.jpg' %}" >
					<hr>
					<h4>Hi I'm Hasan!</h4>
					<p>I love coding, teaching and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a Developer</h4>
					<hr>
					<p>After 120+ Applications, I finally got my first internship, "Skill Squirrel", a start up that came in for me and provided me with an internship.</p>

					<p>I went from writing Hello World to developing new features using ReactJS framework, life changed for the better. I completed 11 tasks throughout the duration of 4 years.</p>

					<p>I can surely say that the fine line between me being a beginner dev and me being an intermediate developer, is Skill Squirrel.</p>



				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Jr. Software Developer at Skill Squirrel.</p>
					<p>During my 4 months of internship at Skill Squirrel, I majorly worked on the front end with ReactJS framework, and completed tasks assigned by my supervisors which included crreating new features and upgrading functionalities of existing ones.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, Java, Spring, HTML/CSS, JavaScript, MERN stack, MongoDB, Postgres, AWS and APIs such as google maps, and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on .NET with C#, C and C++.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Practice! Practice! Practice!.</p>

					<p>I am not the best at memorising academic concepts, but I can understand a concept in a split second, but at the end of the day, experience is what matters, so pretty much, yeah practice is what I do, because at the end of the day, that is what makes my code best.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>After having experienced professional development at Skill Squirrel, my next goal is to get an internship at a reputed organization in order to get access to the support, guidance and mentorship.</p>
				<p></p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
